build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ecserver/Dockerfile -t ecserver:$ROOST_ENV_ID .
deploy:
  type: text
  content: "#!/bin/sh"
test:
  - name: ecserer
    configType: artillery
    configPath: ecserver/test/test.yaml
Last Updated By: ""
Last Updated On: 2022-07-07T06:15:23.896Z
